<div class="resultsContainer">
  <ul class="poke-dex">
    <app-pokemon-card [listType]="option" [pokemonResult]="aPokemon" *ngFor='let aPokemon of paginatedList.results'></app-pokemon-card>
  </ul>
</div>

<div class="pageNumbers" *ngIf="option == 'all'">
  <div class="pagePrevious" *ngIf="paginatedList.previous" (click)="goPreviousPage()">
    <fa-icon [icon]="faArrowLeft"></fa-icon>
  </div>
  <div *ngFor="let pageOffset of pages; let i = index">
    <span (click)="goToPageByOffset(i+1, pageOffset)" class="pageNumber" *ngIf="i + 1 <= currentPage + 4 && i + 1 >= currentPage - 4" [ngClass]="{'currentPage': (i + 1 == currentPage)}"> {{ i + 1 }} </span>
  </div>
  <div class="pageNext" *ngIf="paginatedList.next" (click)="goNextPage()">
    <fa-icon [icon]="faArrowRight"></fa-icon>
  </div>
</div>
