.resultsContainer {
  padding: 40px;
  margin: 0 auto;
}

.pokedex {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-gap: 20px;
  padding-inline-start: 0;
}

.card {
  list-style: none;
  padding: 40px;
  background-color: #f4f4f4;
  color: #222;
  text-align: center;
}

.card:hover {
  animation: bounce 0.5s linear;
}

.card-title {
  text-transform: capitalize;
  margin-bottom: 0px;
  font-size: 32px;
  font-weight: normal;
}
.card-subtitle {
  margin-top: 5px;
  color: #666;
  font-weight: lighter;
}

.card-image {
  height: 180px;
}

// Paginator
.pageNumbers {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0 0 40px 0;
}

.currentPage {
  font-weight: bold;
}

.pageNumber {
  padding: 10px;
  cursor: pointer;
}

.pageNext, .pagePrevious {
  cursor: pointer;
}
