<li class="pokemon-card" *ngIf="ready">
  <div class="favoriteControl">
    <div class="pokemonId">{{pokemon.id}}</div>
    <fa-icon class="favoriteStar" *ngIf="pokemon.isFavorite" [icon]="faStar" (click)="removeFromFavorites(pokemon.id)"></fa-icon>
    <fa-icon class="notFavoriteStar" *ngIf="!pokemon.isFavorite" [icon]="faStar" (click)="addToFavorites(pokemon.id)"></fa-icon>
  </div>
  <div [routerLink]="['/pokemon-detail', pokemon.id]">
    <img class="image" [src]="pokemon.imageUrl" />
    <h2 class="title">{{ pokemon.name }}</h2>
    <p class="subtitle">Type: {{ pokemon.type }} </p>
  </div>
</li>
