<li class="pokemon-card" *ngIf="ready">
  <div class="favorite-control">
    <div class="pokemon-id">{{pokemon.id}}</div>
    <fa-icon class="favorite-star" *ngIf="pokemon.isFavorite" [icon]="faStar" (click)="removeFromFavorites(pokemon.id)"></fa-icon>
    <fa-icon class="not-favorite-star" *ngIf="!pokemon.isFavorite" [icon]="faStar" (click)="addToFavorites(pokemon.id)"></fa-icon>
  </div>
  <div [routerLink]="['/pokemon-detail', pokemon.id]">
    <img class="image" [src]="pokemon.imageUrl" />
    <h2 class="title">{{ pokemon.name }}</h2>
    <p class="subtitle">Type: <b>{{ pokemon.type }}</b> </p>
  </div>
</li>
