/* You can add global styles to this file, and also import other style files */

a {
  text-decoration: none;
}

.favoriteStar {
  font-size: 25px;
  color: gold;
  cursor: pointer;
}

.notFavoriteStar {
  font-size: 25px;
  color: lightgray;
  cursor: pointer;
}

.favoriteControl {
  text-align: right;
}
